<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "head" . }}
        <title>{{ .Event }} Admin</title>
    </head>
    <body>
        <main class="container">
            <article>
                <details>
                    <summary role="button">High Bids</summary>
                    <table role="grid">
                        <thead>
                            <tr>
                                <th scope="col">Item ID</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Auction ID</th>
                                <th scope="col">Highest Bid</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $index, $item := .Items }}
                            <tr>
                                <th scope="row">{{ .Item.ID }}</th>
                                <td>{{ .Item.Name }}</td>
                                <td>{{ .Bid.AuctionID }}</td>
                                <td>{{ .Bid.BidAmount }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </details>
            </article>
        </main>
    </body>
</html>