<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
        <title>{{ .Item.Name }}</title>
    </head>
    <body>
        <main class="container">
            <article>
                <hgroup>
                    <h2>{{ .Item.Name }}</h2>
                    <h3>Compliments of {{ .Item.ProvidedBy }}, valued at {{ .Item.Value }}</h3>
                </hgroup>
                <div role="grid">
                    {{ .Item.Description }}
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Bidder ID</th>
                                <th scope="col">Current High Bid</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{ .Bid.AuctionID }}</th>
                                <th scope="row">{{ .Bid.BidAmount }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <details open>
                    <summary>Cast your bid!</summary>
                    <form method="POST">
                        <div class="grid">
                            <label for="AuctionID">
                                Auction ID
                                <input type="text" id="AuctionID" name="AuctionID" placeholder="23" required>
                            </label>
                            <label for="BidAmount">
                                Your Bid
                                <input type="number" id="BidAmount" name="BidAmount" placeholder="50" required>
                            </label>
                            <button type="submit">Bid!</button>
                        </div>
                    </form>
                </details>
            </article>
        </main>
    </body>
</html>