<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        {{ template "head" . }}
        <title>{{ .Event }} Admin</title>
    </head>
    <body>
        <main class="container">
            <article>
                <details>
                    <summary role="button">Won Bid Totals by Bidder ID</summary>
                    <table role="grid">
                        <thead>
                            <tr>
                                <th scope="col">Bidder ID</th>
                                <th scope="col">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $id, $amt := .WonItemTotals }}
                            <tr>
                                <td>{{ $id }}</td>
                                <td>${{ $amt }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </details>
            </article>
            <article>
                <details>
                    <summary role="button">High Bids</summary>
                    <table role="grid">
                        <thead>
                            <tr>
                                <th scope="col">Item Name</th>
                                <th scope="col">Bidder ID</th>
                                <th scope="col">Highest Bid</th>
                                <th scope="col">Minimum Bid</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $index, $item := .Items }}
                            <tr>
                                <td>{{ .Item.Name }}</td>
                                <td>{{ .Bid.AuctionID }}</td>
                                <td>{{ .Bid.BidAmount }}</td>
                                <td>{{ .Item.MinBid }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </details>
            </article>
        </main>
    </body>
</html>