<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        {{ template "head" . }}
        <title>{{ .Item.Name }}</title>
    </head>
    <body>
        <main class="container">
            <article>
                <hgroup>
                    <h2>{{ .Item.Name }}</h2>
                    <b>Compliments of {{ .Item.ProvidedBy }}</b>
                    <div role="grid">
                        {{ .Item.Description }}
                    </div>
                    <div></div>
                </hgroup>
                <div>
                    <div class="grid">
                        <div>
                            <table>
                                <tbody>
                                    <tr>
                                        <td><b>Value</b></td>
                                        <td>${{ .ValueStr }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Minimum Bid</b></td>
                                        <td>${{ .Item.MinBid }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col"><b>Bidder ID</b></th>
                                <th scope="col"><b>Current High Bid</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">${{ .Bid.AuctionID }}</th>
                                <th scope="row">${{ .Bid.BidAmount }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <details open>
                    <summary></summary>
                    <form method="POST">
                        <div class="grid">
                            <label for="AuctionID">
                                <b>Bidder ID</b>
                                <input type="text" id="AuctionID" name="AuctionID" placeholder="23" required>
                            </label>
                            <label for="BidAmount">
                                <b>Your Bid</b>
                                <input type="number" id="BidAmount" name="BidAmount" placeholder="50" required>
                            </label>
                            <button type="submit">Bid!</button>
                        </div>
                    </form>
                </details>
            </article>
        </main>
    </body>
</html>