<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        {{ template "head" . }}
        <title>{{ .Event }} Auction Winners</title>
    </head>
    <body>
        <main class="container">
            <article>
                <details open>
                    <summary role="button">Auction Winners</summary>
                        <table role="grid">
                            <thead>
                                <tr>
                                    <th scope="col">Bidder ID</th>
                                    <th scope="col">Items Won</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $id, $items := .Winners }}
                                <tr>
                                    <td>{{ $id }}</td>
                                    <td>{{ $items }}</td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                </details>
            </article>
        </main>
    </body>
</html>